$fwd-blue         : #369ff4;
$white            : #fff;
$off-gray         : #ecebe9;
$dark-gray        : #2E2D2C;

$color-primary    : $fwd-blue;
$color-bg         : $off-gray;
$color-text       : $dark-gray;